/* font imports */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Secular+One&display=swap');

body {
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* navbar */
.navBar {
    position: fixed;
    width: 25px;
    height: 100vh;
    padding: 25px 15px;
    border-right: 1.5px solid black;
}

/* Shared Properties of navbar and general */
.navBar,
.general {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general {
    transform: translateX(55px);
}

/* Shared sizing of the 3 major sections */
#welcome,
#aboutMe,
#contactMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    height: 100vh;
}

/* Welcome Section */
h2 {
    font-family: 'IBM Plex Mono', monospace;
    margin-right: 2%;
}

#name {
    margin: 20px 0;
    font-family: 'Secular One', sans-serif;
    font-size: 144px;

    overflow: hidden;
    border-right: .15em solid rgb(167, 255, 95);
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(25, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 60%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(167, 255, 95);
    }
}

/* all a tags */
a {
    color: black;
    cursor: pointer;
}

/* About Me Section */
.about {
    width: 65%;
    margin-right: 3%;
}

.skills {
    width: 50%;
    margin-left: 25px;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.beIcons {
    display: flex;
    justify-content: center;
}

.techTitles {
    margin: 10px 0;
    font-weight: bold;
}

.fa-brands {
    font-size: 30px;
    padding: 5px;
}

#spring,
#sql {
    /* -webkit-filter: invert(100%); */
    /* filter: invert(100%); */
    width: 30px;
    padding: 5px;
}

/* Project */
#projects,
#DeadbirdWarranty,
#StudyBuddy,
#chitchat {
    width: 75vw;
    height: 100vh;
    display: flex;
}

#projects {
    justify-content: space-between;
    align-items: center;
}

.proSDesc {
    width: 50%;
    margin: 10%;
}

.proSDesc>a {
    text-decoration: none;
    cursor: pointer;
}

#DeadbirdWarranty,
#chitchat {
    flex-direction: row;
    align-items: center;
}

#StudyBuddy {
    flex-direction: row-reverse;
    align-items: center;
}

.proDesc {
    margin: 3%;
}

img {
    width: 95%;
    margin: 3%;
}

/* Contact Me */
#contactMe {
    width: 60vw;
}

#linkedin,
#email {
    cursor: pointer;
    padding: 10px;
}

#linkedin>i {
    font-size: 130px;
}

#email>i {
    font-size: 150px;
}

#resume>span {
    font-size: 130px;
}

/* media sizing */
@media screen and (max-width:450px) {
    .navBar {
        width: 20px;
        padding: 10px;
    }

    .general {
        transform: translateX(65px);
    }

    #aboutMe {
        flex-direction: column;
    }

    .skills {
        width: 100%;
        margin: 0;
    }
}